@model List<Web.School.Models.StudentModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table id="tab_student">
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email ID</td>
        <td>Address</td>
    </tr>

@foreach (var item in Model)
    {
         <tr>
        <td>@item.FirstName</td>
        <td>@item.LastName</td>
         <td>@item.EmailID</td>
        <td>@item.Address</td>
    </tr>
        
    }


    </table>
